@font-face {
    font-family: 'Spotify Mix';
    src: url('/spotify-mix.woff2') format('woff2');
}

@font-face {
    font-family: 'Spotify Mix Title';
    src: url('/spotify-mix-title.woff2') format('woff2');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spotify Mix', sans-serif;
}

body {
    position: relative;
    height: 100vh;
    text-align: center;
    color: #ffffff;
    background-color: #000000;
}

.artists-container {
    position: absolute;
    top: 64px;
    bottom: 16px;
    left: 16px;
    right: 16px;
    padding: 32px 24px;
    overflow: scroll;
    min-height: 500px;
    min-width: 800px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    border-radius: 8px;
    overflow-x: hidden;
    background-color: #121212;
}

.artist-container {
    padding: 16px;
    aspect-ratio: 1 / 1;
    border-radius: 6px;
    cursor: pointer;

    &:hover {
        background-color: #1d1d1d;
    }
}

.artist-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 100%;
    box-shadow: 0 0 16px 8px #00000066;
    background-color: #333333;
    opacity: 0;
}

@keyframes artistsAnimation {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(100%);
        opacity: 1;
    }
}

.artist-name {
    height: 55px;
    padding-top: 8px;
    font-weight: 600;
    overflow: hidden;
    animation: textAnimation .8s ease-in-out forwards;
}

@keyframes textAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.search-container {
    position: relative;
    min-width: 600px;
}

.search-bar {
    width: 480px;
    height: 48px;
    margin-top: 8px;
    margin-left: 80px;
    padding-right: 16px;
    padding-left: 48px;
    border: none;
    border-radius: 24px;
    outline: 3px solid transparent;
    font-size: 16px;
    color: #ffffff;
    background-color: #1f1f1f;
    cursor: pointer;
    transition: all 0.3s ease-in;
    
    &::placeholder {
        color: #b3b3b3;
        font-family: 'Spotify Mix', sans-serif;
    }

    &:hover {
        background-color: #2a2a2a;
    }

    &:focus {
        background-color: #2a2a2a;
        outline: 3px solid #ffffff;
        outline-offset: -3px;
        cursor: text;
    }

    &:hover ~ .search-icon {
        filter: brightness(100);
    }

    &:focus ~ .search-icon {
        filter: brightness(100);
    }
}

.search-icon {
    position: relative;
    top: 7px;
    right: 470px;
    height: 25px;
    width: 24px;
    cursor: pointer;

    &:hover {
        filter: brightness(100);
    }
}

.spotify-icon {
    position: absolute;
    top: 16px;
    left: 28px;
    height: 32px;
    cursor: pointer;
    z-index: 1;
}

.cover-image {
    position: absolute;
    width: 100%;
    height: 300px;
    overflow: hidden;

    &::before {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 300px;
        z-index: 10;
        background: linear-gradient(to right, #00000066, #00000033);
    }
}

.profile-image {
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    filter: blur(8px);
    transform: scale(1.05);
}

.artist-info {
    position: absolute;
    top: 120px;
    left: 16px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: 'Spotify Mix Title', sans-serif;
    font-weight: 800;
    font-size: 96px;
    z-index: 20;
    user-select: none;
    animation: textAnimation 1.2s ease-in-out forwards;
}

.tracks-container {
    position: absolute;
    top: 600px;
    left: 128px;
    text-align: left;
    z-index: 30;
}

.track-item {
    padding: 8px;
}
