@font-face {
    font-family: 'Spotify Mix';
    src: url('/spotify-mix.woff2') format('woff2');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spotify Mix', sans-serif;
}

body {
    position: relative;
    height: 100vh;
    text-align: center;
    color: #ffffff;
    background-color: #000000;
}

.artists {
    position: absolute;
    top: 64px;
    bottom: 16px;
    left: 16px;
    right: 16px;
    padding: 32px 24px;
    overflow: scroll;
    min-height: 600px;
    min-width: 800px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    border-radius: 8px;
    background-color: #121212;
}

.artist {
    padding: 16px;
    aspect-ratio: 1 / 1;
    border-radius: 6px;
    cursor: pointer;

    &:hover {
        background-color: #1f1f1f;
    }
}

.artist-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 100%;
    box-shadow: 0 0 16px 8px #00000066;
    background-color: #333333;
    opacity: 0;
}

@keyframes fadeInZoom {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.artist-name {
    height: 55px;
    padding-top: 8px;
    font-weight: 600;
    overflow: hidden;
}

#search-bar {
    width: 480px;
    height: 48px;
    margin-top: 8px;
    margin-left: 88px;
    padding-inline: 16px;
    border: none;
    border-radius: 24px;
    outline: 3px solid transparent;
    font-size: 16px;
    color: #ffffff;
    background-color: #1f1f1f;
    cursor: pointer;
    transition: all 0.2s ease-in;
    
    &::placeholder {
        color: #b3b3b3;
        letter-spacing: 0.2px;
        font-family: 'Spotify Mix', sans-serif;
    }

    &:hover {
        background-color: #2a2a2a;
    }

    &:focus {
        background-color: #2a2a2a;
        outline: 3px solid #ffffff;
        outline-offset: -3px;
        cursor: text;
    }
}

#spotify-icon {
    position: absolute;
    top: 16px;
    left: 28px;
    height: 32px;
    cursor: pointer;
}
