/*!==========================================================================!*/
/*!                             IMPORTAR ESTILOS                             !*/
/*!==========================================================================!*/

@import '/css/reset.css';
@import '/css/fonts.css';
@import '/css/animations.css';
@import '/css/custom-properties.css';


/**==========================================================================**/
/**                             ESILOS GENERALES                             **/
/**==========================================================================**/

body {
    background-color: black;
    color: white;
    font-family: 'Spotify Mix Title', sans-serif;
    height: 100vh;
    text-align: center;
    user-select: none;
}


/**==========================================================================**/
/**                           CONTENEDOR PRINCIPAL                           **/
/**==========================================================================**/

.main-container {
    align-content: start;
    background-color: var(--color-dark-gray-1);
    border-radius: 8px;
    bottom: 16px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    left: 16px;
    min-height: 500px;
    min-width: 800px;
    overflow-x: hidden;
    padding: 32px 24px;
    position: absolute;
    right: 16px;
    scrollbar-color: rgb(255 255 255 / 0) rgb(255 255 255 / 0);
    top: 64px;

    &:hover {
        scrollbar-color: rgb(255 255 255 / .3) rgb(255 255 255 / 0);
    }
}


/**==========================================================================**/
/**                      ÁREA DE BÚSQUEDA Y NAVEGACIÓN                       **/
/**==========================================================================**/

.search-container {
    min-width: 620px;
}

.search-bar {
    background-color: var(--color-dark-gray-2);
    border-radius: 24px;
    border: none;
    color: white;
    cursor: pointer;
    font-family: 'Spotify Mix', sans-serif;
    font-size: 16px;
    height: 48px;
    margin-left: 80px;
    margin-top: 8px;
    outline: 3px solid transparent;
    padding-left: 48px;
    transition: all .3s ease;
    width: 480px;

    &::placeholder {
        color: var(--color-light-gray-1);
        font-family: 'Spotify Mix', sans-serif;
    }

    &:hover,
    &:focus {
        background-color: var(--color-dark-gray-3);
    }

    &:focus {
        cursor: text;
        outline: 3px solid white;
        outline-offset: -3px;
    }

    &:hover ~ .search-icon {
        filter: brightness(100);
    }

    &:focus ~ .search-icon {
        filter: brightness(100);
    }
}

.search-icon,
.clear-icon {
    cursor: pointer;
    height: 24px;
    position: relative;
    top: 8px;
}

.search-icon {
    right: 470px;
    transition: filter .1s;

    &:hover {
        filter: brightness(100);
    }
}

.clear-icon {
    opacity: 0;
    pointer-events: none;
    right: 70px;
    transition: filter .1s, transform .1s;

    &:hover {
        filter: brightness(100);
        transform: scale(1.01);
    }
}

.spotify-icon {
    cursor: pointer;
    height: 32px;
    left: 28px;
    position: absolute;
    top: 16px;
    transition: opacity .3s ease;

    &:hover {
        opacity: .85;
    }
}


/**==========================================================================**/
/**                            TARJETA DE ARTISTA                            **/
/**==========================================================================**/

.artist-card {
    aspect-ratio: 1 / 1;
    border-radius: 6px;
    cursor: pointer;
    padding: 12px;

    &:hover {
        background-color: var(--color-dark-gray-2);
    }

    &:active {
        background-color: black;
    }
}

.artist-image {
    background-color: var(--color-dark-gray-4);
    border-radius: 100%;
    box-shadow: 0 8px 24px rgb(0, 0, 0, .4);
    height: 100%;
    object-fit: cover;
    opacity: 0;
    width: 100%;
}

.artist-name {
    animation: fadeIn .8s ease-in-out forwards;
    font-weight: 500;
    height: 58px;
    overflow: hidden;
    padding-top: 16px;
}


/**==========================================================================**/
/**                       PORTADA DEL PERFIL DE ARTISTA                      **/
/**==========================================================================**/

.profile-artist-image {
    animation: fadeIn .4s ease-in-out .4s forwards;
    background-attachment: fixed;
    background-position: center 16%;
    background-size: cover;
    height: 40vh;
    opacity: 0;
    position: absolute;
    width: 100%;

    &::before {
        content: '';
        background: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.5));
        height: 100%;
        left: 0;
        position: absolute;
        width: 100%;
    }
    
    &::after {
        content: '';
        animation: fadeIn 1.2s ease-in-out forwards;
        background: linear-gradient(var(--artist-gradient-color), transparent);
        bottom: -175px;
        height: 175px;
        left: 0;
        position: absolute;
        width: 100%;
    } 
}

.profile-artist-name {
    animation: fadeIn .4s ease-in-out forwards;
    bottom: 58px;
    font-size: 6rem;
    font-weight: 800;
    left: -8px;
    padding-inline: 32px;
    position: absolute;
    text-align: left;
    white-space: nowrap;
    width: 100%;
}

.long-artist-name {
    font-size: 3rem;
}

.profile-artist-followers {
    animation: fadeIn .2s ease-in-out forwards;
    left: -8px;
    padding-inline: 32px;
    position: absolute;
    text-align: left;
    bottom: 30px;
    width: 100%;
}


/**==========================================================================**/
/**                  PISTAS DESTACADAS DEL PERFIL DE ARTISTA                 **/
/**==========================================================================**/

.profile-artist-tracks {
    animation: fadeIn 1.6s ease-in-out forwards;
    padding: 48px 64px;
    position: absolute;
    top: 48vh;
    width: 100%;
}

.profile-artist-tracks-title {
    font-size: 24px;
    font-weight: 700;
    left: 48px;
    position: absolute;
    top: -8px;
}

.top-track {
    align-items: center;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    padding: 8px 32px 8px 8px;
    text-align: left;
    width: 100%;

    &:first-child {
        margin-top: 8px;
    }

    &:hover {
        background-color: rgb(255 255 255 / .1);

        .top-track-popularity,
        .top-track-duration {
            color: rgb(255, 255, 255);
        }
    }
}

.top-track.active {
    background-color: rgb(255 255 255 / .3);

    .top-track-popularity,
    .top-track-duration {
        color: rgb(255, 255, 255);
    }
}

.top-track-index {
    color: rgb(179, 179, 179);
    margin-right: 24px;
    text-align: right;
    width: 16px;
}

.top-track-image {
    border-radius: 4px;
    height: 40px;
    margin-right: 16px;
    width: 40px;
}

.top-track-info {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.top-track-name {
    margin-right: 16px;
    min-width: 400px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 400px;
}

.top-track-popularity {
    color: rgb(179, 179, 179);
    font-size: 14px;
    min-width: 160px;
    width: 160px;
}

.top-track-duration {
    color: rgb(179, 179, 179);
    font-size: 14px;
}
