/*!==========================================================================!*/
/*!                             IMPORTAR ESTILOS                             !*/
/*!==========================================================================!*/

@import '/styles/reset.css';
@import '/styles/fonts.css';
@import '/styles/animations.css';


/**==========================================================================**/
/**                             ESILOS GENERALES                             **/
/**==========================================================================**/

body {
    background-color: #000000;
    color: #ffffff;
    font-family: 'Spotify Mix', sans-serif;
    height: 100vh;
    text-align: center;
    user-select: none;
}


/**==========================================================================**/
/**                           CONTENEDOR PRINCIPAL                           **/
/**==========================================================================**/

.main-container {
    align-content: start;
    background-color: #121212;
    border-radius: 8px;
    bottom: 16px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    left: 16px;
    min-height: 500px;
    min-width: 800px;
    overflow-x: hidden;
    padding: 32px 24px;
    position: absolute;
    right: 16px;
    top: 64px;
}


/**==========================================================================**/
/**                            BARRA DE BÚSQUEDA                             **/
/**==========================================================================**/

.search-container {
    min-width: 600px;
}

.search-bar {
    background-color: #1f1f1f;
    border-radius: 24px;
    border: none;
    color: #ffffff;
    cursor: pointer;
    font-family: 'Spotify Mix', sans-serif;
    font-size: 16px;
    height: 48px;
    margin-left: 80px;
    margin-top: 8px;
    outline: 3px solid transparent;
    padding-left: 48px;
    transition: all .3s ease;
    width: 480px;

    &::placeholder {
        color: #b3b3b3;
        font-family: 'Spotify Mix', sans-serif;
    }

    &:hover,
    &:focus {
        background-color: #2a2a2a;
    }

    &:focus {
        cursor: text;
        outline: 3px solid #ffffff;
        outline-offset: -3px;
    }

    &:hover ~ .search-icon {
        filter: brightness(100);
    }

    &:focus ~ .search-icon {
        filter: brightness(100);
    }
}

.search-icon,
.clear-icon {
    cursor: pointer;
    height: 24px;
    position: relative;
    top: 8px;
}

.search-icon {
    right: 470px;
    transition: filter .1s;

    &:hover {
        filter: brightness(100);
    }
}

.clear-icon {
    display: none;
    right: 70px;
    transition: filter .1s, transform .1s;

    &:hover {
        filter: brightness(100);
        transform: scale(1.01);
    }
}

.spotify-icon {
    cursor: pointer;
    height: 32px;
    left: 28px;
    position: absolute;
    top: 16px;
}


/**==========================================================================**/
/**                            TARJETA DE ARTISTA                            **/
/**==========================================================================**/

.artist-container {
    aspect-ratio: 1 / 1;
    border-radius: 6px;
    cursor: pointer;
    padding: 16px;

    &:hover {
        background-color: #1d1d1d;
    }
}

.artist-image {
    background-color: #333333;
    border-radius: 100%;
    box-shadow: 0 8px 24px rgb(0, 0, 0, .4);
    height: 100%;
    object-fit: cover;
    opacity: 0;
    width: 100%;
}

.artist-name {
    animation: fadeIn .8s ease-in-out forwards;
    font-weight: 500;
    height: 58px;
    overflow: hidden;
    padding-top: 16px;
}


/**==========================================================================**/
/**                            PERFIL DE ARTISTA                             **/
/**==========================================================================**/

.profile-artist-image {
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    filter: brightness(.7);
    height: 300px;
    position: absolute;
    width: 100%;
}

.profile-artist-name {
    position: absolute;
    top: 120px;
    left: 16px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: 'Spotify Mix Title', sans-serif;
    font-weight: 800;
    font-size: 96px;
    z-index: 30;
    user-select: none;
    animation: textAnimation 1.2s ease-in-out forwards;
}

.artist-top-tracks-container {
    position: absolute;
    top: 360px;
    width: 100%;
    padding-bottom: 64px;
    text-align: center;
    z-index: 40;
}

.top-track {
    padding: 16px;
}

.profile-artist-followers {
    position: absolute;
    top: 250px;
    width: 100%;
    z-index: 20;
}
