/*!==========================================================================!*/
/*!                             IMPORTAR ESTILOS                             !*/
/*!==========================================================================!*/

@import '/styles/reset.css';
@import '/styles/fonts.css';
@import '/styles/animations.css';
@import '/styles/custom-properties.css';


/**==========================================================================**/
/**                             ESILOS GENERALES                             **/
/**==========================================================================**/

body {
    background-color: black;
    color: white;
    font-family: 'Spotify Mix', sans-serif;
    height: 100vh;
    text-align: center;
    user-select: none;
}


/**==========================================================================**/
/**                           CONTENEDOR PRINCIPAL                           **/
/**==========================================================================**/

.main-container {
    align-content: start;
    background-color: var(--color-dark-gray-1);
    border-radius: 8px;
    bottom: 16px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    left: 16px;
    min-height: 500px;
    min-width: 800px;
    overflow-x: hidden;
    padding: 32px 24px;
    position: absolute;
    right: 16px;
    top: 64px;
}


/**==========================================================================**/
/**                      ÁREA DE BÚSQUEDA Y NAVEGACIÓN                       **/
/**==========================================================================**/

.search-container {
    min-width: 600px;
}

.search-bar {
    background-color: var(--color-dark-gray-2);
    border-radius: 24px;
    border: none;
    color: white;
    cursor: pointer;
    font-family: 'Spotify Mix', sans-serif;
    font-size: 16px;
    height: 48px;
    margin-left: 80px;
    margin-top: 8px;
    outline: 3px solid transparent;
    padding-left: 48px;
    transition: all .3s ease;
    width: 480px;

    &::placeholder {
        color: var(--color-light-gray-1);
        font-family: 'Spotify Mix', sans-serif;
    }

    &:hover,
    &:focus {
        background-color: var(--color-dark-gray-3);
    }

    &:focus {
        cursor: text;
        outline: 3px solid white;
        outline-offset: -3px;
    }

    &:hover ~ .search-icon {
        filter: brightness(100);
    }

    &:focus ~ .search-icon {
        filter: brightness(100);
    }
}

.search-icon,
.clear-icon {
    cursor: pointer;
    height: 24px;
    position: relative;
    top: 8px;
}

.search-icon {
    right: 470px;
    transition: filter .1s;

    &:hover {
        filter: brightness(100);
    }
}

.clear-icon {
    display: none;
    right: 70px;
    transition: filter .1s, transform .1s;

    &:hover {
        filter: brightness(100);
        transform: scale(1.01);
    }
}

.spotify-icon {
    cursor: pointer;
    height: 32px;
    left: 28px;
    position: absolute;
    top: 16px;
}


/**==========================================================================**/
/**                            TARJETA DE ARTISTA                            **/
/**==========================================================================**/

.artist-card {
    aspect-ratio: 1 / 1;
    border-radius: 6px;
    cursor: pointer;
    padding: 16px;

    &:hover {
        background-color: var(--color-dark-gray-2);
    }

    &:active {
        background-color: black;
    }
}

.artist-image {
    background-color: var(--color-dark-gray-4);
    border-radius: 100%;
    box-shadow: 0 8px 24px rgb(0, 0, 0, .4);
    height: 100%;
    object-fit: cover;
    opacity: 0;
    width: 100%;
}

.artist-name {
    animation: fadeIn .8s ease-in-out forwards;
    font-weight: 500;
    height: 58px;
    overflow: hidden;
    padding-top: 16px;
}


/**==========================================================================**/
/**                            PERFIL DE ARTISTA                             **/
/**==========================================================================**/

.profile-artist-image {
    animation: fadeIn .4s ease-in-out .4s forwards;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    filter: brightness(.6);
    height: 300px;
    opacity: 0;
    position: absolute;
    width: 100%;
}

.profile-artist-name {
    animation: fadeIn .4s ease-in-out forwards;
    font-size: clamp(4rem, 8vw, 6rem);
    font-weight: 800;
    padding-inline: 32px;
    position: absolute;
    top: 120px;
    width: 100%;
}

.long-artist-name {
    top: 80px;
    font-size: clamp(4rem, 4vw, 6rem);
}

.profile-artist-followers {
    animation: fadeIn .2s ease-in-out forwards;
    position: absolute;
    text-shadow: 0 0 4px rgba(0, 0, 0, .8);
    top: 250px;
    width: 100%;
}

.profile-artist-tracks {
    position: absolute;
    top: 360px;
    width: 100%;
}
