/*!==========================================================================!*/
/*!                             IMPORTAR ESTILOS                             !*/
/*!==========================================================================!*/

@import '/styles/reset.css';
@import '/styles/fonts.css';
@import '/styles/animations.css';


/**==========================================================================**/
/**                             ESILOS GENERALES                             **/
/**==========================================================================**/

* {
    font-family: 'Spotify Mix', sans-serif;
    user-select: none;
}

body {
    position: relative;
    height: 100vh;
    text-align: center;
    color: #ffffff;
    background-color: #000000;
}

.main-container,
.artists-container {
    position: absolute;
    top: 64px;
    bottom: 16px;
    left: 16px;
    right: 16px;
    padding: 32px 24px;
    overflow: scroll;
    min-height: 500px;
    min-width: 800px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    border-radius: 8px;
    overflow-x: hidden;
    background-color: #121212;
}

.main-container {
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
}

.artist-container {
    padding: 16px;
    aspect-ratio: 1 / 1;
    border-radius: 6px;
    cursor: pointer;

    &:hover {
        background-color: #1d1d1d;
    }
}

.artist-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 100%;
    box-shadow: 0 0 16px 8px #00000066;
    background-color: #333333;
    opacity: 0;
}

.artist-name {
    height: 55px;
    padding-top: 8px;
    font-weight: 600;
    overflow: hidden;
    animation: textAnimation .8s ease-in-out forwards;
}

.artist-followers {
    position: absolute;
    top: 250px;
    width: 100%;
    z-index: 10;
}

.search-container {
    position: relative;
    min-width: 600px;
}

.search-bar {
    width: 480px;
    height: 48px;
    margin-top: 8px;
    margin-left: 80px;
    padding-right: 16px;
    padding-left: 48px;
    border: none;
    border-radius: 24px;
    outline: 3px solid transparent;
    font-size: 16px;
    color: #ffffff;
    background-color: #1f1f1f;
    cursor: pointer;
    transition: all 0.3s ease-in;

    &::placeholder {
        color: #b3b3b3;
        font-family: 'Spotify Mix', sans-serif;
    }

    &:hover {
        background-color: #2a2a2a;
    }

    &:focus {
        background-color: #2a2a2a;
        outline: 3px solid #ffffff;
        outline-offset: -3px;
        cursor: text;
    }

    &:hover ~ .search-icon {
        filter: brightness(100);
    }

    &:focus ~ .search-icon {
        filter: brightness(100);
    }
}

.search-icon,
.clear-icon {
    position: relative;
    top: 7px;
    right: 470px;
    height: 25px;
    width: 24px;
    cursor: pointer;
}

.search-icon {
    transition: filter .1s;

    &:hover {
        filter: brightness(100);
    }
}

.clear-icon {
    display: none;
    right: 70px;
    transition: filter .1s, transform .1s;

    &:hover {
        filter: brightness(100);
        transform: scale(1.01);
    }
}

.spotify-icon {
    position: absolute;
    top: 16px;
    left: 28px;
    height: 32px;
    cursor: pointer;
    z-index: 1;
}

.profile-artist-image-container {
    position: absolute;
    width: 100%;
    height: 300px;
    overflow: hidden;

    &::before {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 300px;
        z-index: 10;
        background: linear-gradient(to right, #00000066, #00000033);
    }
}

.profile-artist-image {
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    filter: blur(8px);
    transform: scale(1.05);
}

.profile-artist-name {
    position: absolute;
    top: 120px;
    left: 16px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: 'Spotify Mix Title', sans-serif;
    font-weight: 800;
    font-size: 96px;
    z-index: 20;
    user-select: none;
    animation: textAnimation 1.2s ease-in-out forwards;
}

.artist-top-tracks-container {
    position: absolute;
    top: 360px;
    width: 100%;
    padding-bottom: 64px;
    text-align: center;
    z-index: 30;
}

.top-track {
    padding: 16px;
}
